
<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>LOFI</title>
</head>
<body>

  <link rel='stylesheet' href='/stylesheets/lofi.css' />
<script src="/javascripts/lofi.js" defer></script> 

<div class="divEntrada">
  <h4>Entrada = </h4> <h4 id="palavra"> palavra</h4> 
</div>

<h4 id="labelIn">********</h4> 

  <input type="text" id="entrada">
<button  id="btnEnviar" onclick="botao()">Enviar</button>

<div id="pisca" class="pisca">

</div>

</body>
</html>