/* Definindo a classe para adicionar margens pretas à tabela */
.table-with-margin {
    width: 95%;
    border-collapse: collapse;
    margin: 20px;
  }
  
  .table-with-margin th,
  .table-with-margin td {
    border: 1px solid #000;
    padding: 10px;
    text-align: center;
  }
  